{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
  <title>Sharda University Uzbekistan - First Independent Private University</title>
  <link rel="shortcut icon" type="image/png" href="https://www.shardauniversity.uz/assets/imgs/favi-icon.png">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.shardauniversity.uz/">
          <img class="img-fluid" src="https://www.shardauniversity.uz/attachments/site_logo/SU-Andijan1.png"
            class="fixed-header-logo " alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="mx-auto collapse navbar-collapse navbar-links " id="navbarNav">
          <ul class="navbar-nav mx-auto ">
            {% for branch in branchs %}
            <li class="nav-item mx-auto dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-current="page"
                href="#">{{branch.name}}</a>
              <ul class="dropdown-menu">
                {% for group in groups %}
                {% if group.course == branch %}
                <li><a class="dropdown-item" href="{% url 'group'   group.name group.code %}"> {{group.name}}
                    {{group.code}}&raquo; </a>
                </li>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
         
          </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      {%  if user.is_authenticated %}
      <a href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      <a href="{% url 'signup' %}">SignUp</a>
      {% endif %}

    </nav>

    <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active img-fluid" data-bs-interval="2000">
          <img
            src="https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?cs=srgb&dl=pexels-buro-millennial-1438072.jpg&fm=jpg"
            class="d-block w-100 slide img-fluid" alt="...">
          <div class="carousel-caption d-none d-md-block img-fluid">
            <h5 class="text-white">Up to 50% Scholarship Available</h5>
            <p class="text-white">Admission Open for B.Tech, BBA, BA-Applied English, PG Diploma for 2021-22 Session</p>
          </div>
        </div>
        <div class="carousel-item img-fluid" data-bs-interval="2000">
          <img
            src="https://images.pexels.com/photos/2422294/pexels-photo-2422294.jpeg?cs=srgb&dl=pexels-jopwell-2422294.jpg&fm=jpg"
            class="d-block w-100 slide img-fluid" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-white">Asia's one of the top leading</h5>
            <p class="text-white">Global University in Uzbekistan</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            class="d-block w-100 slide img-fluid" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-white">Be the Global Leader </h5>
            <p class="text-white">Study with Students from 85+ Countries</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
  <script src="{% static 'jss/app.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>