* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-around;
}

th,
td {
  text-align: center;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #212529;
  outline: 0;
  box-shadow: 0 0 0 0.11rem #212529;
}
.content {
  background-color: red;
}
.submit {
  border: 1px solid #23394c;
}
.submit:hover {
  color: white;
  background-color: #23394c;
}

.btn:focus {
  outline: 0px;
  box-shadow: #23394c 0px 0px 0px 0.1rem;
}
